mixin caja(link,imagen,titulo,contenido) 
  .caja
    a(href=link, class="caja__link" target="_blank")
      .caja__imagen: img(src="../images/"+imagen)
      .caja__contenido
        h5=titulo
        p=contenido
mixin caja-g(imagen,titulo,contenido) 
  .caja
    .caja__imagen: img(src="../images/"+imagen)
    .caja__contenido
      h5=titulo
      p=contenido